




@font-face {
  font-family: "MyFont";
  src: url("/fonts/AloeveraFont/Aloevera-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("/fonts/AloeveraFont/Aloevera-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}


/* globals.css */
@font-face {
  font-family: "MyFont";
  src: url("/fonts/AloeveraFont/Aloevera-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "MyFont";
  src: url("/fonts/AloeveraFont/Aloevera-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: "MyFont";
  src: url("/fonts/AloeveraFont/Aloevera-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}


